# North Korean News

Scrape the North Korean news agency http://kcna.kp

Save a CSV called `nk-news.csv`. This file should include:

* The **article headline**
* The value of **`onclick`** (they don't have normal links)
* The **article ID** (for example, the article ID for `fn_showArticle("AR0125885", "", "NT00", "L")` is `AR0125885`

The last part is easiest using pandas. Be sure you don't save the index!

* _**Tip:** If you're using requests+BeautifulSoup, you can always look at response.text to see if the page looks like what you think it looks like_
* _**Tip:** Check your URL to make sure it is what you think it should be!_
* _**Tip:** Does it look different if you scrape with BeautifulSoup compared to if you scrape it with Selenium?_
* _**Tip:** For the last part, how do you pull out part of a string from a longer string?_
* _**Tip:** `expand=False` is helpful if you want to assign a single new column when extracting_
* _**Tip:** `(` and `)` mean something special in regular expressions, so you have to say "no really seriously I mean `(`" by using `\(` instead_
* _**Tip:** if your `.*` is taking up too much stuff, you can try `.*?` instead, which instead of "take as much as possible" it means "take only as much as needed"_

In [7]:
from selenium import webdriver

In [8]:
driver = webdriver.Chrome()

In [9]:
driver.get('http://kcna.kp/kcna.user.home.retrieveHomeInfoList.kcmsf;jsessionid=04060941FE21DAF14B05CC5765C71188')

In [71]:
#headlines = driver.find_elements_by_class_name('harticle15_subtitle')
headlines = driver.find_elements_by_class_name('titlebet')
headline_list=[]
for headline in headlines:
    headline_list.append(headline.text)

In [65]:
## notes  如果不带for，直接把x设置为一个variable，下一个cell直接出现，只能得到list里最后一项
#for x in [1, 3, 5]:
    #print(x)
#x

#得到结果X是5

In [73]:
titlebets = driver.find_elements_by_class_name('titlebet')

click_list=[]
for titlebet in titlebets:
    click_list.append(titlebet.get_attribute('onclick'))

In [76]:
titlebets = driver.find_elements_by_class_name('titlebet')
id_list = []
for titlebet in titlebets:
    id_list.append(titlebet.get_attribute('onclick')[16:25])

In [78]:
import pandas as pd

In [82]:
total = dict(zip(['title', 'on_click', 'id'],
                [headline_list, click_list, id_list]))

In [84]:
df=pd.DataFrame(total)

In [88]:
df.head()

,title,on_click,id
0,Delegation of Koreans in Japan Pay Tribute to ...,"fn_showArticle(""AR0126313"", """", ""NT21"", ""L"")",AR0126313
1,Greetings to Seychellois President,"fn_showArticle(""AR0126295"", """", ""NT21"", ""L"")",AR0126295
2,Venezuelan City's Highest Order Awarded to Sup...,"fn_showArticle(""AR0126287"", """", ""NT21"", ""L"")",AR0126287
3,Xi Jinping to Visit DPRK,"fn_showArticle(""AR0126286"", """", ""NT21"", ""L"")",AR0126286
4,Kim Jae Ryong Inspects Tokchon Area Coal-Minin...,"fn_showArticle(""AR0126281"", """", ""NT21"", ""L"")",AR0126281

In [86]:
df.to_csv("nk-news.csv", index=False)